.mp4 filter=lfs diff=lfs merge=lfs -text
/.github/workflows/python-app.yml filter=lfs diff=lfs merge=lfs -text
/.gitignore filter=lfs diff=lfs merge=lfs -text
/.xubuntu/lightdm.conf filter=lfs diff=lfs merge=lfs -text
/.xubuntu/mpf.desktop filter=lfs diff=lfs merge=lfs -text
/.xubuntu/setup.sh filter=lfs diff=lfs merge=lfs -text
/Procfile.dev filter=lfs diff=lfs merge=lfs -text
/README.md filter=lfs diff=lfs merge=lfs -text
/bin/dev filter=lfs diff=lfs merge=lfs -text
/bin/run filter=lfs diff=lfs merge=lfs -text
/bin/stepper_you_are_home.sh filter=lfs diff=lfs merge=lfs -text
/bin/test filter=lfs diff=lfs merge=lfs -text
/config/config.yaml filter=lfs diff=lfs merge=lfs -text
/design/Futurama[[:space:]]playfield[[:space:]]underside[[:space:]]diagram.png filter=lfs diff=lfs merge=lfs -text
/design/draft_startup_script.txt filter=lfs diff=lfs merge=lfs -text
/design/stepper_you_are_home.txt filter=lfs diff=lfs merge=lfs -text
/images/3quarter_gauge.png filter=lfs diff=lfs merge=lfs -text
/images/base_background1.png filter=lfs diff=lfs merge=lfs -text
/images/bonus_blank.png filter=lfs diff=lfs merge=lfs -text
/images/bonus_dark_matter_slide.png filter=lfs diff=lfs merge=lfs -text
/images/bonus_hypnotoad_slide.png filter=lfs diff=lfs merge=lfs -text
/images/bonus_slurm_slide.png filter=lfs diff=lfs merge=lfs -text
/images/cartoon_pinball.png filter=lfs diff=lfs merge=lfs -text
/images/crew_level_indicators.png filter=lfs diff=lfs merge=lfs -text
/images/cryolab_UI.png filter=lfs diff=lfs merge=lfs -text
/images/doop_warning.png filter=lfs diff=lfs merge=lfs -text
/images/empty_gauge.png filter=lfs diff=lfs merge=lfs -text
/images/final_score.png filter=lfs diff=lfs merge=lfs -text
/images/full_gauge.png filter=lfs diff=lfs merge=lfs -text
/images/half_gauge.png filter=lfs diff=lfs merge=lfs -text
/images/hypnotoad_indicator.gif filter=lfs diff=lfs merge=lfs -text
/images/luna_park_background.gif filter=lfs diff=lfs merge=lfs -text
/images/luna_park_overlay.png filter=lfs diff=lfs merge=lfs -text
/images/quarter_gauge.png filter=lfs diff=lfs merge=lfs -text
/images/score_and_crew_UI.png filter=lfs diff=lfs merge=lfs -text
/images/scoreboxes_overlay.png filter=lfs diff=lfs merge=lfs -text
/images/scoreboxes_player_ball_overlay.png filter=lfs diff=lfs merge=lfs -text
/images/slurm_ad.png filter=lfs diff=lfs merge=lfs -text
/images/titlecard.png filter=lfs diff=lfs merge=lfs -text
/modes/attract/code/attract.py filter=lfs diff=lfs merge=lfs -text
/modes/attract/config/attract.yaml filter=lfs diff=lfs merge=lfs -text
/modes/attract/shows/attract_loop_show-dev.txt filter=lfs diff=lfs merge=lfs -text
/modes/attract/shows/attract_loop_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/attract/shows/attract_loop_show_dev.txt filter=lfs diff=lfs merge=lfs -text
/modes/base/config/base.yaml filter=lfs diff=lfs merge=lfs -text
/modes/bonus/config/bonus.yaml filter=lfs diff=lfs merge=lfs -text
/modes/crew_manager/config/crew_manager.yaml filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/config/cryolab_delivery.yaml filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/images/cryolab_awards.png filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/images/cryolab_extra_credit_instructions.png filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/images/deliver_the_pizza_instructions.png filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/images/fry_only_indicator.png filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/images/lock_the_bike_background.png filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/images/lock_the_bike_instructions.png filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/images/nye_1999.png filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/images/panuccis_background.png filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/images/player_and_crew_ui.png filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/images/ride_the_bike_background.png filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/images/ride_the_bike_instructions.png filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/images/you_delivered_the_pizza.png filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/shows/lock_the_bike_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/shows/nibbler_skillshot_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/shows/panuccis_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/shows/pizza_delivered_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/shows/ride_the_bike_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/shows/to_the_future_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/shows/wake_up_in_the_future_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/videos/lock_the_bike_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/videos/nibbler_skillshot_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/videos/panuccis_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/videos/pizza_delivered_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/videos/ride_the_bike_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/videos/to_the_future_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/cryolab_delivery/videos/wake_up_in_the_future_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/delivery_manager/config/delivery_manager.yaml filter=lfs diff=lfs merge=lfs -text
/modes/delivery_manager/shows/cannibalon_delivery_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/delivery_manager/videos/cannibalon_delivery_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/high_score/config/high_score.yaml filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/config/moon_delivery.yaml filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/images/luna_park_background.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/images/moon_step1.png filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/images/moon_step2.png filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/images/moon_step3.png filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/images/moon_step4.png filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/images/moon_step5.png filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/images/moon_step6.png filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/images/moon_steps_complete.png filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/shows/crate_delivered_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/shows/deliver_crate_shot_lit_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/shows/farmer_escape_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/shows/lander_found_shot_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/shows/lander_l_shot_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/shows/lander_r_shot_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/shows/moon_delivery_success_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/shows/rover_escape_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/shows/whalers_shots_lit_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/sounds/music/kickstart.wav filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/sounds/music/old_moon_song.wav filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/sounds/voice/whalers_song1.wav filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/sounds/voice/whalers_song2.wav filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/videos/crate_delivered_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/videos/farmer_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/videos/farmer_escape_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/videos/joyride_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/videos/lander_found_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/videos/lander_search_loop_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/videos/lander_search_start_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/videos/lander_shot_lit_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/videos/lunar_rover_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/videos/lunar_rover_escape_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/videos/moon_delivery_success_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/moon_delivery/videos/whalers_on_the_moon_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/slurm_caps/config/slurm_caps filter=lfs diff=lfs merge=lfs -text
/modes/slurm_caps/config/slurm_caps.yaml filter=lfs diff=lfs merge=lfs -text
/modes/slurm_caps/images/glurmo_speaks.png filter=lfs diff=lfs merge=lfs -text
/modes/slurm_caps/images/golden_cap_overlay.png filter=lfs diff=lfs merge=lfs -text
/modes/slurm_caps/images/slurm_cap_overlay.png filter=lfs diff=lfs merge=lfs -text
/modes/slurm_caps/shows/cap_collected_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/slurm_caps/shows/slurm_factory_lit_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/slurm_factory/config/slurm_factory.yaml filter=lfs diff=lfs merge=lfs -text
/modes/slurm_factory/shows/level1_gi_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/slurm_factory/shows/level1_left_loop_jackpot_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/slurm_factory/shows/level1_right_loop_jackpot_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/slurm_factory/shows/level1_right_orbit_jackpot_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/slurm_factory/shows/level1_right_ramp_jackpot_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/slurm_factory/shows/next_level_shot_lit_show.yaml filter=lfs diff=lfs merge=lfs -text
/modes/slurm_factory/videos/slurm_factory_clip0.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/slurm_factory/videos/slurm_factory_clip1.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/slurm_factory/videos/slurm_factory_clip2.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/slurm_factory/videos/slurm_factory_clip3.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/slurm_factory/videos/slurm_factory_clip4.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/slurm_factory/videos/slurm_factory_clip5.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/videos/PEHQ_background_clip1.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/videos/PE_commercial_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/videos/glagnars_commercial_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/videos/homemade_intro_silent_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/videos/hypnotoad_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/videos/luna_park_background.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/videos/moon_delivery_intro_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/videos/scary_door_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/videos/self_respect_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/videos/slurm_factory_commercial_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/modes/videos/teeth_commercial_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/monitor/monitor.yaml filter=lfs diff=lfs merge=lfs -text
/monitor/playfield.jpg filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/config/robot_homeworld_delivery.yaml filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/images/PE_ship_winch_lowered.png filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/shows/lower_bender_show.yaml filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/videos/bender_captured.mp4 filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/videos/bender_speech_humans_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/videos/deliver_lugnuts_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/videos/dress_up_like_robots.mp4 filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/videos/escape_to_ship_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/videos/find_bender_hurry_up_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/videos/gotcha_fleshpiles.mp4 filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/videos/human_hunt_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/videos/i_dont_want_to_be_rescued.mp4 filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/videos/infiltrate_robot_city.mp4 filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/videos/lower_bender.mp4 filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/videos/robot_elders_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/robot_homeworld_delivery/videos/robot_homeworld_intro_b.mp4 filter=lfs diff=lfs merge=lfs -text
/shows/4_lamp_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/PEHQ_pulse_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/PE_commercial_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/apron_light_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/attract_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/ball_end_score_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/ball_save_indicator_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/bender_level_up_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/custom_flash_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/custom_rainbow_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/delivery_lit_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/fry_level_up_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/glagnars_commercial_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/homemade_intro_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/hypnotoad_light_pulse_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/leela_level_up_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/lrrr_pulse_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/moon_delivery_intro_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/pe_platter_rotary_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/right_post_lock_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/right_ramp_lit_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/shoot_the_ball_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/slurm_factory_commercial_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/teeth_commercial_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/tube_light_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/zoidberg_ball_save_show.yaml filter=lfs diff=lfs merge=lfs -text
/shows/zoidberg_neutral_show.yaml filter=lfs diff=lfs merge=lfs -text
/sounds/music/bells_short.wav filter=lfs diff=lfs merge=lfs -text
/sounds/music/porn_fill.wav filter=lfs diff=lfs merge=lfs -text
/sounds/music/theme_full.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/amy_short1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/amy_short2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/amy_short3.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/bender_short1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/bender_short2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/cap_sound1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/cap_sound2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/cap_sound3.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/crew_whoa1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/crew_whoa2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/ding.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/fry_short1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/fry_short2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/fry_short3.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/fry_short4.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/fry_short5.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/fry_short6.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/hedonismbot1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/hedonismbot2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/hermes_short1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/hermes_short2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/hypnotoad1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/hypnotoad2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/hypnotoad3.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/leela_short1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/leela_short2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/level_up.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/lrrr_short1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/lrrr_short2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/lrrr_short3.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/nibbler_short1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/nibbler_short2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/no_sound.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/power_up.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/professor_short1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/professor_short2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/professor_short3.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/ship_short1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/ship_short2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/ship_short3.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/ship_short4.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/ship_short5.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/ship_super_short1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/ship_super_short2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/ship_super_short3.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/ship_super_short4.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/ship_super_short5.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/shiplong1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/tube1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/tube2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/tube3.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/tube4.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/tube5.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/woop_woop.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/zoidberg_crying.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/zoidberg_short1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/zoidberg_short2.wav filter=lfs diff=lfs merge=lfs -text
/sounds/sfx/zoidberg_short3.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/a_thing_called_showmanship.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/amy_swears.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/does_it_always_do_that.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/dont_giveup_crybabies.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/doomed_harmony.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/have_a_nice_future.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/im_an_alien_alright.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/im_an_appalling_failure.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/leila_interesting.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/no_not_again.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/not_gonna_be_loser.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/professor_laughing1.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/welcome_to_the_world.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/were_safe.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/what_was_that.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/with_gusto.wav filter=lfs diff=lfs merge=lfs -text
/sounds/voice/your_destiny_awaits.wav filter=lfs diff=lfs merge=lfs -text
/tests/test_base_mode.py filter=lfs diff=lfs merge=lfs -text
/tests/test_cryolab_mode_path_all_shots_success.py filter=lfs diff=lfs merge=lfs -text
/tests/test_cryolab_mode_path_nibbler_skillshot.py filter=lfs diff=lfs merge=lfs -text
/tests/test_cryolab_mode_path_timeout_failure.py filter=lfs diff=lfs merge=lfs -text
/tests/test_general.py filter=lfs diff=lfs merge=lfs -text
/videos/PEHQ_background_clip1.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/PE_commercial_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/glagnars_commercial_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/homemade_intro_silent_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/hypnotoad_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/im_the_hero.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/luna_park_background.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/moon_delivery_intro_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/scary_door_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/self_respect_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/slurm_factory_commercial_clip.mp4 filter=lfs diff=lfs merge=lfs -text
/videos/teeth_commercial_clip.mp4 filter=lfs diff=lfs merge=lfs -text
