#config_version=6

show_player:
    mode_attract_started:
        bender_topper_test_show:
            priority: 300
            loops: -1
        attract_loop_show:
            priority: 300
            loops: 0
            events_when_completed: next_attract_show
    next_attract_show:
        attract_shows:
            priority: 300
            loops: 0
            events_when_completed: play_attract_loop
    play_attract_loop:
        attract_loop_show:
            priority: 300
            loops: 0
            events_when_completed: next_attract_show
    s_hedonism_bot_active:
        multi_labelled_light_test_show:
            manual_advance: true
            loops: 0
            priority: 500
            show_tokens:
                l1: lamps
                l2: gi
                l3: indicator
                l4: spotlights
                l5: feature
                l6: loops
                l7: orbit
                l8: ship
                l9: tubes
                l10: DTbank
                l11: caps
                l12: slings
                l13: ballguide
                l14: apron
                l15: topper

        attract_loop_show: stop
        attract_shows: stop
    s_right_flipper_active:
        multi_labelled_light_test_show: advance
    s_left_flipper_active:
        multi_labelled_light_test_show: step_back

light_player:
    mode_attract_started:
        indicator: ffffff
        ship: ffffff
        tubes: ffffff
        caps: ffffff

show_pools:
    attract_shows:
        type: random_force_all
        shows:
            - glagnars_commercial_show
            - slurm_factory_commercial_show
            - teeth_commercial_show
            - PE_commercial_show
            - arachno_commercial_show
            - amc_the_proposal_show
            - scary_door_show
            - scary_door2_show
            - morbo_linda_mom_show
            - hypnotoad_instructions_show|3
            - morbo_and_nixon_show
            - molten_boron_show
            - i_dated_a_robot_show
            - pants_full_of_shame_show
slides:
    dspc_logo_slide:
        widgets:
            type: video
            video: dspc_animation
    mpf_logo_slide:
        widgets:
            type: image
            image: mpf_logo
    titlecard_slide:
        widgets:
            - type: image
              image: titlecard
            - type: text
              color: white
              font_size: 64
              text: SW Version .66
              y: center-400
              z: 5
    arachno_commercial_slide:
        widgets:
            type: video
            video: arachno_clip
    amc_the_proposal_slide:
        widgets:
            type: video
            video: amc_the_proposal
    scary_door_slide:
        widgets:
            type: video
            video: scary_door
    scary_door2_slide:
        widgets:
            type: video
            video: scary_door2
    morbo_linda_mom_slide:
        widgets:
            type: video
            video: morbo_linda_mom
    hypnotoad_instructions_slide:
        widgets:
            type: video
            video: hypnotoad_instructions_clip
    morbo_and_nixon_slide:
        widgets:
            type: video
            video: morbo_and_nixon_clip
    molten_boron_slide:
        widgets:
            type: video
            video: molten_boron_clip
    i_dated_a_robot_slide:
        widgets:
            type: video
            video: i_dated_a_robot_clip
    pants_full_of_shame_slide:
        widgets:
            type: video
            video: pants_full_of_shame_clip
