#config_version=6
##! mode: delivery_manager

mode:
    start_events: ball_started, mode_slurm_factory_stopped, mode_cryolab_delivery_stopped
    stop_events: found_golden_cap, ball_ending, mode_cryolab_delivery_started
    priority: 102

state_machines:
    fuel_gauge_state:
        persist_state: true
        states:
            start:
                label: Start state
                events_when_started: empty_tank
            quarter:
                events_when_started: quarter_tank
            half:
                events_when_started: half_tank
            3quarter:
                events_when_started: 3quarter_tank
            full:
                events_when_started: full_tank
        transitions:
            - source: start
              target: quarter
              events: collect_dark_matter_fuel_hit, nibbler_poop
            - source: quarter
              target: half
              events: collect_dark_matter_fuel_hit, nibbler_poop
            - source: half
              target: 3quarter
              events: collect_dark_matter_fuel_hit, nibbler_poop
            - source: 3quarter
              target: full
              events: collect_dark_matter_fuel_hit, nibbler_poop
            - source: full
              target: 3quarter
              events: use_dark_matter
            - source: 3quarter
              target: half
              events: use_dark_matter
            - source: half
              target: quarter
              events: use_dark_matter
            - source: quarter
              target: start
              events: use_dark_matter
            - source: half
              target: start
              events: use_half_tank
            - source: 3quarter
              target: quarter
              events: use_half_tank
            - source: full
              target: half
              events: use_half_tank
            - source: full
              target: start
              events: use_full_tank
    next_delivery:
        persist_state: true
        states:
            start:
                label: Start state
                events_when_started: set_next_delivery_moon
            cannibalon:
                events_when_started: set_next_delivery_cannibalon
            robot_homeworld:
                events_when_started: set_next_delivery_robot_homeworld
            roswell:
                events_when_started: set_next_delivery_roswell
        transitions:
            - source: start
              target: cannibalon
              events: moon_delivery_done
            - source: cannibalon
              target: robot_homeworld
              events: cannibalon_delivery_done
            - source: robot_homeworld
              target: roswell
              events: stop_robot_homeworld_delivery
    moon_delivery_handler:
        persist_state: true
        states:
            start:
                label: Start state
            moon_delivery_enable:
                events_when_started: moon_delivery_lit
            moon_delivery_active:
                events_when_started: moon_delivery_active
            moon_delivery_done:
                events_when_started: moon_delivery_done
        transitions:
            - source: start
              target: moon_delivery_enable
              events: half_tank
            - source: moon_delivery_enable
              target: moon_delivery_active
              events: start_moon_delivery_mode
            - source: moon_delivery_active
              target: moon_delivery_done
              events: mode_moon_delivery_stopped
    cannibalon_delivery_handler:
        persist_state: true
        states:
            start:
                label: Start state
            cannibalon_delivery_next:
                events_when_started: cannibalon_delivery_next
            cannibalon_delivery_enable:
                events_when_started: cannibalon_delivery_lit
            cannibalon_delivery_active:
                events_when_started: cannibalon_delivery_active
            cannibalon_delivery_done:
                events_when_started: cannibalon_delivery_done
        transitions:
            - source: start
              target: cannibalon_delivery_next
              events: set_next_delivery_cannibalon
            - source: cannibalon_delivery_next
              target: cannibalon_delivery_enable
              events: full_tank
            - source: cannibalon_delivery_enable
              target: cannibalon_delivery_active
              events: cannibalon_delivery_start_shot_hit
            - source: cannibalon_delivery_active
              target: cannibalon_delivery_done
              events: cannibalon_delivery_show_ended
    robot_homeworld_delivery_handler:
        persist_state: true
        states:
            start:
                label: Start state
            robot_homeworld_delivery_next:
                events_when_started: robot_homeworld_delivery_next
            robot_homeworld_delivery_enable:
                events_when_started: robot_homeworld_delivery_lit
            robot_homeworld_delivery_active:
                events_when_started: robot_homeworld_delivery_active
            robot_homeworld_delivery_done:
                events_when_started: robot_homeworld_delivery_done
        transitions:
            - source: start
              target: robot_homeworld_delivery_next
              events: set_next_delivery_robot_homeworld
            - source: robot_homeworld_delivery_next
              target: robot_homeworld_delivery_enable
              events: full_tank
            - source: robot_homeworld_delivery_enable
              target: robot_homeworld_delivery_active
              events: robot_homeworld_delivery_start_shot_hit
            - source: robot_homeworld_delivery_active
              target: robot_homeworld_delivery_done
              events: mode_robot_homeworld_delivery_stopped

widgets:
    cannibalon_delivery_video:
        - type: video
          video: cannibalon_delivery_clip
          z: 10

shots:
    collect_dark_matter_fuel:
        switch: s_right_ramp
        enable_events: mode_delivery_manager_started, mode_moon_delivery_stopped
        disable_events: mode_moon_delivery_started
        hit_events: s_dt_nibbler_active
    moon_delivery_start_shot:
        switch: s_VUK
        enable_events: moon_delivery_lit
        disable_events: mode_moon_delivery_started
        persist_enable: true
    cannibalon_delivery_start_shot:
        switch: s_VUK
        enable_events: cannibalon_delivery_lit
        disable_events: cannibalon_delivery_show_ended
        persist_enable: true
    robot_homeworld_delivery_start_shot:
        switch: s_VUK
        enable_events: robot_homeworld_delivery_lit
        disable_events: robot_homeworld_intro_done
        persist_enable: true

ball_holds:
    cannibalon_delivery_hold:
        balls_to_hold: 1
        hold_devices: bd_VUK
        enable_events: cannibalon_delivery_lit
        disable_events: cannibalon_delivery_show_ended
        release_one_events: cannibalon_delivery_show_ended
        debug: true
    moon_delivery_start_hold:
        balls_to_hold: 1
        hold_devices: bd_VUK
        enable_events: moon_delivery_lit
        disable_events: moon_delivery_intro_show_ended
        release_one_events: moon_delivery_intro_show_ended
        debug: true
    robot_homeworld_delivery_start_hold:
        balls_to_hold: 1
        hold_devices: bd_VUK
        enable_events: robot_homeworld_delivery_lit
        disable_events: robot_homeworld_intro_done
        release_one_events: robot_homeworld_intro_done

slide_player:
    mode_moon_delivery_stopped:
        base_slide:
            action: play
            target: display1
            priority: 100

widget_player:
    mode_moon_delivery_stopped:
        full_gauge:
            slide: base_slide
            action: remove
        3quarter_gauge:
            slide: base_slide
            action: remove
        half_gauge:
            slide: base_slide
            action: remove
        quarter_gauge:
            slide: base_slide
            action: remove
    cannibalon_delivery_show_ended:
        full_gauge:
            slide: base_slide
            action: remove
        3quarter_gauge:
            slide: base_slide
            action: remove
        half_gauge:
            slide: base_slide
            action: remove
        quarter_gauge:
            slide: base_slide
            action: remove
#TO-DO: this doesn't work yet, but is what I'm after, and doesn't cause issues
#so I'm leaving it for now...
    slide_base_slide_active{current_player.fuel_level=="empty_gauge"}:
        empty_gauge:
            slide: base_slide
    slide_base_slide_active{current_player.fuel_level==quarter_gauge}:
        quarter_gauge:
            slide: base_slide
    slide_base_slide_active{current_player.fuel_level==half_gauge}:
        half_gauge:
            slide: base_slide
    slide_base_slide_active{current_player.fuel_level=="3quarter_gauge"}:
        3quarter_gauge:
            slide: base_slide
    slide_base_slide_active{current_player.fuel_level==full_gauge}:
        full_gauge:
            slide: base_slide
    empty_tank:
        empty_gauge:
            slide: base_slide
    quarter_tank:
        quarter_gauge:
            slide: base_slide
    half_tank:
        half_gauge:
            slide: base_slide
    3quarter_tank:
        3quarter_gauge:
            slide: base_slide
    full_tank:
        full_gauge:
            slide: base_slide


variable_player:
    cannibalon_delivery_start_shot_hit:
        score: machine.medium_reward_points * current_player.crew_multiplier
        deliveries_completed: 1
        fry_xp: 5
        leela_xp: 5
        bender_xp: 10
    empty_tank:
        fuel_level:
            action: set
            string: "empty_gauge"
    quarter_tank:
        fuel_level:
            action: set
            string: "quarter_gauge"
    half_tank:
        fuel_level:
            action: set
            string: "half_gauge"
    3quarter_tank:
        fuel_level:
            action: set
            string: "3quarter_gauge"
    full_tank:
        fuel_level:
            action: set
            string: "full_gauge"


sound_player:
    quarter_tank:
        ding:
            action: play
    half_tank:
        ding:
            action: play
    3quarter_tank:
        ding:
            action: play
    full_tank:
        ding:
            action: play
    delivery_started:
        theme_full:
            action: stop
    mode_moon_delivery_stopped:
        old_moon_song:
            action: stop
    delivery_ended:
        theme_full:
            action: play

event_player:
    moon_delivery_start_shot_hit: start_moon_delivery_mode
    start_moon_delivery_mode: delivery_started
    mode_moon_delivery_stopped: use_half_tank, delivery_ended
    cannibalon_delivery_start_shot_hit: delivery_started
    cannibalon_delivery_show_ended: use_full_tank, delivery_ended
    robot_homeworld_delivery_start_shot_hit: start_robot_homeworld_delivery
    start_robot_homeworld_delivery: delivery_started
    mode_robot_homeworld_delivery_stopped: use_full_tank, delivery_ended

show_player:
    cannibalon_delivery_start_shot_hit:
        cannibalon_delivery_show:
            loops: 0
            priority: 500
            events_when_stopped: cannibalon_delivery_show_ended
        delivery_lit_show: stop
    moon_delivery_lit:
        delivery_lit_show:
            loops: -1
    moon_delivery_start_shot_hit:
        delivery_lit_show: stop
    cannibalon_delivery_lit:
        delivery_lit_show:
            loops: -1
    robot_homeworld_delivery_lit:
        delivery_lit_show:
            loops: -1
    robot_homeworld_delivery_start_shot_hit:
        delivery_lit_show: stop
